.cornsilk-div {
  background-color: cornsilk;
  width: 90%;
  justify-self: center;
  margin-top: 1em;
  border-radius: 6px;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 2vw;
  border: 4px solid black;
}

.header-custom {
  background-color: #d3ab7b; /* ejemplo: marrón oscuro */
  color: white; /* texto en blanco para contraste */
}

.cornsilk-div h1 {
  margin: 0;
  padding: 0;
  font-size: 2em;
  text-align: center;
}

/* Animations */
.cornsilk-div h1 {
  animation: fadeInh1 1.5s ease-in-out;
}

@keyframes fadeInh1 {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.cornsilk-div p {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  text-align: center;
}

/* Animations */
.cornsilk-div p {
  animation: fadeInp 1.5s ease-in-out;
}

@keyframes fadeInp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.shopping-cart {
  width: 32px; /* tamaño fijo */
  height: auto; /* mantiene proporción */
}
.shopping-cart:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}
.shopping-cart:active {
  transform: scale(0.9);
  transition: transform 0.1s;
}
